body {
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container > .hero {
  position: relative;
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.container > .hero > .text {
  max-width: 601px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  color: var(--color-white);
  font-family: var(--font-hero-bold);
  letter-spacing: 2pt;
  font-size: 1.3em;
}

.container > .hero > .text > p {
  font-family: var(--font-copy);
  letter-spacing: .5pt;
  font-size: 0.8em;
}

.container > .hero > .text > .buttons {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5px 0 5px;
}

.container > .hero > .text > .buttons > button {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-red-orange);
  border: none;
  width: 200px;
  font-family: var(--font-hero);
  font-size: .93em;
  color: var(--color-white);
}

.container > .hero > img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  -webkit-transform: translateY(-230px);
          transform: translateY(-230px);
  -webkit-filter: grayscale(1) brightness(0.4);
          filter: grayscale(1) brightness(0.4);
}

.container > .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 120px 130px 20px 100px;
}

.container > .middle > img {
  height: 250px;
  -webkit-transform: translate(50px, -50px);
          transform: translate(50px, -50px);
}

.container > .middle > .text {
  background-color: var(--color-light-blue);
  height: 200px;
  font-size: 0.95em;
  text-align: center;
  padding: 30px 60px 0px 60px;
}

.container > .middle > .text > h2 {
  font-family: var(--font-hero-bold);
  color: var(--color-royal-blue);
  font-size: 1.5em;
}

.container > .video {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-size: 0.9em;
}

.container > .video > h1 {
  color: var(--color-red-orange);
}

.container > .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.container > .articles > .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.container > .articles > .article > .container {
  height: 200px;
  width: 300px;
  overflow: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.container > .articles > .article > .container > img {
  height: 200px;
}

.container > .articles > .article > .description {
  margin-left: 50px;
  text-align: left;
  width: 500px;
}

.container > .articles > .article > .description > h4 {
  color: var(--color-red-orange);
}

.container > .articles > .article > .description > h5 {
  color: var(--color-dark-blue);
}

.container > .articles > .article > .description > p {
  color: var(--color-dark-grey);
}

.container > .articles > .article > .description > a {
  text-decoration: none;
  color: var(--color-royal-blue);
}

.container > .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container > .section > img {
  width: 200px;
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}

.container > .section > .text {
  margin-top: 50px;
  padding: 20px 10px 20px 50px;
  max-width: 700px;
  background-color: var(--color-light-grey);
}

.container > .section > .text > h2 {
  color: var(--color-dark-blue);
}

.container > .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container > .section2 > img {
  width: 300px;
  -webkit-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
}

.container > .section2 > .text {
  margin-top: 50px;
  padding: 20px 10px 20px 30px;
  max-width: 700px;
  background-color: var(--color-light-grey);
}

.container > .section2 > .text > h2 {
  color: var(--color-dark-blue);
}

.container > .text {
  background-color: var(--color-light-blue);
  font-size: 0.95em;
  text-align: center;
  padding: 30px 60px 40px 60px;
  margin: 0 200px;
}

.container > .text > h2 {
  font-family: var(--font-hero-bold);
  color: var(--color-royal-blue);
  font-size: 1.5em;
}

.container > .text > .buttons {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 5px 0 5px;
}

.container > .text > .buttons > button {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-royal-blue);
  border: none;
  width: 200px;
  font-family: var(--font-hero);
  font-size: .93em;
  color: var(--color-white);
}

.container > .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > .contact-us > h2 {
  font-family: var(--font-hero-bold);
  color: var(--color-royal-blue);
  font-size: 1.5em;
}

.container > .contact-us > .contactForm {
  background-color: var(--color-royal-blue);
  padding: 40px 60px 30px 60px;
}

.container > .contact-us > .contactForm input {
  width: 400px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--color-white);
  border: var(--color-light-grey) 1.35px solid;
  padding: 8px 0;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-hero);
  color: var(--color-dark-grey);
  margin: 4px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.container > .contact-us > .contactForm input::-webkit-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm input:-ms-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm input::-ms-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm input::placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .same-line {
  z-index: 2;
}

.container > .contact-us > .contactForm > .same-line > input {
  width: 196px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--color-white);
  border: var(--color-light-grey) 1.35px solid;
  padding: 8px 0;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-hero);
  color: var(--color-dark-grey);
  margin: 4px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.container > .contact-us > .contactForm > .same-line > input::-webkit-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .same-line > input:-ms-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .same-line > input::-ms-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .same-line > input::placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .message {
  z-index: 2;
}

.container > .contact-us > .contactForm > .message > textarea {
  width: 400px;
  resize: none;
  height: 250px;
  border-radius: 6px;
  background-color: var(--color-white);
  border: var(--color-light-grey) 1.35px solid;
  padding: 8px 0;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-hero);
  color: var(--color-dark-grey);
  margin: 4px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.container > .contact-us > .contactForm > .message > textarea::-webkit-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .message > textarea:-ms-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .message > textarea::-ms-input-placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > .message > textarea::placeholder {
  color: var(--color-light-grey);
}

.container > .contact-us > .contactForm > button {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-light-blue);
  border: none;
  width: 200px;
  font-family: var(--font-hero);
  font-size: .93em;
  color: var(--color-royal-blue);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
/*# sourceMappingURL=pages.css.map */