:root {
  --color-dark-blue: #272952;
  --color-royal-blue: #29339B;
  --color-light-blue: #E3F2FD;
  --color-white: #FAFAFA;
  --color-black: #1B1F22;
  --color-red-orange: #FF3A20;
  --color-dark-grey: #626468;
  --color-light-grey: #D2D8DF;

  --font-hero: 'Roboto', sans-serif;
  --font-hero-bold: 'Roboto Bold', sans-serif;
  --font-copy: 'Open Sans', sans-serif;
  --font-copy-light: 'Open Sans Light', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('./fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Bold'), url('./fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('./fonts/OpenSans-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light'), url('./fonts/OpenSans-Light.ttf') format('opentype');
}

body {
  margin: 0;
  font-family: var(--font-copy);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}